:root {
  --color-primary-rgb: 4 33 89;
  --color-secondary-rgb: 77 184 228;

  --color-success-rgb: 16 185 129;
  --color-error-rgb: 239 68 68;
  --color-warning-rgb: 245 158 11;

  --color-bg-light: #f8fafc;
  --color-bg-dark: #020d23;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;

  --color-hover: #074073;

  --shadow-brand: 0 10px 15px -3px rgba(4, 33, 89, 0.2);
}
/* 
:root {
  --color-primary-rgb: 0 92 83;
  --color-secondary-rgb: 219 242 39;

  --color-success-rgb: 16 185 129;
  --color-error-rgb: 239 68 68;
  --color-warning-rgb: 245 158 11;

  --color-bg-light: #f8fafc;
  --color-bg-dark: #001a18;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;

  --color-hover: #004d45;

  --shadow-brand: 0 10px 15px -3px rgba(219, 242, 39, 0.3);
} */
